<form [formGroup]="reactiveFrom" (ngSubmit)="submit()">
<div class="row">
  <div class="col">
    <label for="name">Name:</label>
    <input id="name" class="" type="text" placeholder="" formControlName="name">
    <div *ngIf="reactiveFrom.get('name')?.touched && reactiveFrom.get('name')?.invalid " >
      <div *ngIf="reactiveFrom.get('name')?.errors?.['required']">
        Name is Required
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col">
    <label for="name">Email:</label>
    <input id="name" class="" type="text" placeholder="" formControlName="email" >
    <div *ngIf="reactiveFrom.get('email')?.touched && reactiveFrom.get('email')?.invalid">
  <small *ngIf="reactiveFrom.get('email')?.errors?.['required']">
    Email is required
  </small>
  <small *ngIf="reactiveFrom.get('email')?.errors?.['email']">
    Enter a valid email address
  </small>
</div>
  </div>
    <!-- <div class="col">
    <label for="name">Email:</label>
    <input id="name" class="" type="text" placeholder="" >
  </div>
    <div class="col">
    <label for="name">Email:</label>
    <input id="name" class="" type="text" placeholder="" >
  </div> -->
  <div class="row">
    <div class="col">
      <button type="submit">Submit</button>
    </div>
  </div>
</div>
</form>
